# Emacs
*~

# Python
venv/
__pycache__

# Data files
generative_model_*
cpp/iterative_grids
vae/vae_*
data_generation/grids/
data_generation/results/

# Hoffman scripts
run.sh

# Mathematica notebooks
*.nb

# MacOS
.DS_Store
Icon*

# VSCode
.vscode/

# C++ builds
*.o
fast_dft
cpp/fast_dft
cpp/naive_min
cpp/evolution
cpp/benchmark
cpp/swarm

# XCode
xcuserdata/

# TensorFlow
tensorflow/

# Test
test_grids

# Misc
Project Description.gslides
Project Ideas.pdf
paper/