# Emacs
*~

# Python
venv/
__pycache__

# Data files
generative_model_*
/cpp/evol_iter_grids

# Hoffman scripts
run.sh

# Mathematica notebooks
*.nb

# MacOS
.DS_Store

# VSCode
.vscode/

# C++ builds
*.o
fast_dft
naive_random
evolution
benchmark
