# Emacs
*~

# Python
venv/
__pycache__

# Data files
generative_model_*

# Hoffman scripts
run.sh

# Mathematica notebooks
*.nb

# MacOS
.DS_Store

# VSCode
.vscode/

# Local executables
fast_dft
naive_random
evolution